<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
<ul>
    <h1>{{ object.title }}</h1>
    <li>Описание: {{ object.description }}</li>
    <li>Цена: {{ object.price_RUB }} руб.  |  {{ object.price_USD }} USD</li>
    <li>Рубрика: {{ object.cat }}</li>
    <li>Тип объявления: {{ object.type }}</li>
</ul>
<ul>
    <h2>Контакты автора:</h2>
    <li>Имя автора: {{ object.author.name }}</li>
    <li>Email: {{ object.author.mail }}</li>
    <li>Номер телефона: {{ object.author.phoneNumber }}</li>
</ul>
<li>Количество просмотров: {{ object.views_count }}</li>
</body>
</html>