<!DOCTYPE html>
<html lang="ru">
<html>
    <h1>Бесплатные объявления</h1>

    {% if advertisement_list %}
    <ul>
        {% for advertisement in advertisement_list %}
        <li>
            <h2>
            <a href="/advertisements/{{ advertisement.id }}">{{ advertisement.title }}</a>
            </h2>
                Цена: {{ advertisement.price_RUB }} руб.| Рубрика: {{ advertisement.cat }}
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет</p>
    {% endif %}
</html>

