<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ news.title }}</title>
</head>
<body>
<h1>{{ news.title }}</h1>
    <p>{{ news.article|linebreaks }}</p>
    <p>Дата создания статьи: {{ news.created_date }}</p>

<h4>Теги:</h4>
        {% for tag in news.tags.all %}
        <li><a href="{{ tag.get_absolute_url}}">{{ tag.title}}</a></li>
        {% endfor %}
    <hr>

        <p><a href="{% url 'news' %}">На главную</a></p>
{% if verifi %}
        <p><a href="{% url 'news_update' news.pk %}">Изменить статью</a></p>
{% endif %}
    <hr>

    <form action="" method="post">
    {% csrf_token %}

    {% if request.user.is_authenticated %}
        <p>Текст комментария: {{ form.commentary }}</p>
    {% else %}
        {{ form.as_p }}
    {% endif %}
        <button type="submit">Добавить комментарий</button>
    </form>
    <hr>

<h2>{{ title_commentary }}</h2>
    <hr>
    {% if commentary %}
        {% for c in commentary %}
            {% if c.user_name is None %}
                <p>Комментарий от: Аноним</p>
            {% else %}
                <p>Комментарий от: {{ c.user_name }}</p>
            {% endif %}
                <p>{{ c.commentary }}</p>
                <p>Дата создания комментария: {{ c.created_date }}</p>
            <hr>
        {% endfor %}
    {% else %}
            <p>Комментариев пока нет</p>
    {% endif %}
</body>
</html>