<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p><a href="{% url 'news' %}">На главную</a></p>
    <hr>
    {% if news %}
    <ul>
        {% for n in news %}
            <h2><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h2>
            <h4>Теги:</h4>
            {% for tag in n.tags.all %}
                <li><a href="{{ tag.get_absolute_url}}">{{ tag.title}}</a></li>
            {% endfor %}
            <p>Дата создания: {{ n.created_date }}</p>
            <hr>
        {% endfor %}
    </ul>
    {% else %}
        <p>Статей нет</p>
    {% endif %}

</body>
</html>