<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tag.title }}</title>
</head>
<body>
    <h2>Статьи с тегом "{{ tag.title|title }}":</h2>

    {% for n in news %}
        <h2><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h2>
        <h4>Теги:</h4>
        {% for tag in n.tags.all %}
        <li><a href="{{ tag.get_absolute_url}}">{{ tag.title}}</a></li>
        {% endfor %}

        <p>Дата создания: {{ n.created_date }}</p>
        <hr>
    {% endfor %}
    <p><a href="{% url 'news' %}">На главную</a></p>
</body>
</html>