{% extends 'shops/base.html' %}
{% load i18n %}

    {% block title %}
        {% trans "Корзина покупок" %}
    {% endblock %}

    {% block content %}
        <h2>{% trans "Корзина покупок" %}</h2>
        <table class="table table-bordered text-nowrap">
            <thead>
            <tr>
                <th style="width:100%">{% trans "Товар" %}</th>
                <th style="width:100%">{% trans "Количество к покупке, шт" %}</th>
                <th style="width:100%">{% trans "Удалить" %}</th>
                <th style="width:100%">{% trans "Магазин" %}</th>
                <th style="width:100%">{% trans "Цена за шт, руб" %}</th>
                <th style="width:100%">{% trans "Количество товара в магазине, шт" %}</th>
                <th style="width:100%">{% trans "Общая стоимость, руб" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>{{ product }}</td>
                        <td>
                            <form action="{% url 'cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="{% trans 'Обновить' %}">
                              </form>
                        </td>
                        <td><a href="{% url 'cart_remove' product.id %}">{% trans "Удалить" %}</a></td>
                        <td class="num">{{ item.shop }}</td>
                        <td class="num">{{ item.price }}</td>
                        <td class="num">{{ item.amount }}</td>
                        <td class="num">{{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Всего</td>
                <td colspan="5"></td>
                <td class="num">{{ cart.get_total_price }}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a class="btn btn-primary" aria-current="page" href="{% url 'cart_payment' %}">{% trans "Оплатить" %}</a>
        </p>
    {% endblock %}