{% extends 'blog/base_blog.html' %}

{% block title %}
    Удаление фото
{% endblock %}

{% block content %}
    <div>
    {% if request.user.is_authenticated %}
        <h1>Удаление фото</h1>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Удалить</button>
        </form>
    {% endif %}
    </div>
{% endblock %}


<!--{% if post %}-->
<!--{% endif %}-->
<!--<a href="{% url 'update_post_url' post.slug %}" class="btn btn-danger">Удалить</a>-->


