{% extends 'blog/base_blog.html' %}

{% block title %}
    Изменение Статьи
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <form action="{% url 'update_post_url' post.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                <div>
                {% if field.label == 'Загрузить Фотографии' %}
                    {% if photos %}
                        <p>Фотографии которые уже загружены</p>
                        {% for pht in photos %}
                            <img width="15%" src="{{ pht.photo.url }}">
                            <a class="btn btn-danger" aria-current="page"
                               href="{% url 'photo_delete_url' pht.id %}">Удалить</a>
                        {% endfor %}
                    {% else %}
                        <p>Фотографии пока не загружены</p>
                    {% endif %}
                {% endif %}
                </div>

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="mt-3">
        <button type="submit" class="btn btn-primary">Изменить Пост</button>
        </div>
    </form>
    {% endif %}
{% endblock %}


