{% extends 'blog/base_blog.html' %}
{% load i18n %}

    {% block title %}
        {% trans "БЛОГ" %}
    {% endblock %}

    {% block content %}
    <h1 class="mb-3">{% trans "Статьи" %}:</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="card">
                  <div class="card-header">
                    {{ post.created_date }} | {% trans "Автор" %} {{ post.author }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.article|truncatewords:50 }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">{% trans "Читать" %}</a>
                  </div>
                  <div class="card-footer text-muted">
                    {% trans "Теги" %}:
                      {% for tag in post.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                      {% endfor %}
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}