{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>
        {% block title %}
            block My
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3">
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" class="form-select" aria-label="Default select example" >
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-primary btn-sm mt-2" type="submit" value="Go">
                </form>
            </li>
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'login_url' %}">{% trans "Авторизация" %}</a></pre>
                </li>
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'register_url' %}">{% trans "Регистрация" %}</a></pre>
                </li>
            {% else %}
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'history_url' user.pk %}">{% trans "История покупок" %}</a></pre>
                </li>
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'logout_url' %}">{% trans "Выйти" %}</a></pre>
                </li>
            {% endif %}
            {% if request.user.username == 'admin' %}
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="/admin">{% trans "Админ" %}</a></pre>
                </li>
            {% endif %}
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'shops_list' %}">{% trans "Магазины" %}</a></pre>
                </li>
                <li class="nav-item">
                  <pre> <a class="btn btn-primary" aria-current="page" href="{% url 'home' %}">{% trans "На главную" %}</a></pre>
                </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-6">
                {% block content %}
                    There is no any content for you
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

