{% extends 'shops/base.html' %}
{% load i18n %}

    {% block title %}
        {% trans "Cтраница магазина" %}
    {% endblock %}

    {% block content %}
        <form action="{% url 'shop_page' shop.pk %}" method="post">
            {% csrf_token %}
            {% if goods_list %}
                <h2 class="mb-3">{{ shop }}</h2>
                {% for goods in goods_list %}
                    <div class="card" style="width: 30rem;">
                        <div class="card-header">
                            {{ goods.name_goods }}
                        </div>
                      <div class="card-body">
                            <p>{% trans "Цена" %}: {{ goods.price }} руб</p>
                            {% if request.user.is_authenticated %}
                                {% if right_day %}
                                    <p>{% trans "Сегодня" %}: {{ day }}, {% trans "по этому для Вас Скидка составляет" %}: {{ goods.sale }}%</p>
                                    <p>{% trans "Для Вас сегодня специальная цена, с учетом скидки составляет" %}: {{ goods.get_price }} руб</p>
                                {% else %}
                                    <p>{% trans "Сегодня будний день, скидок нет" %}</p>
                                {% endif %}
                                <button name='goods_id' value="{{ goods.id }}" type="submit" class="btn btn-primary">{% trans "Купить" %}</button>
                            {% endif %}
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="card-title">{% trans "Доступных товаров пока нет" %}</h5>
            {% endif %}
         </form>
    {% endblock %}



