{% extends 'shops/base.html' %}
{% load i18n %}

    {% block title %}
        {% trans "Главная страница" %}
    {% endblock %}

    {% block content %}
        <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for key, val in aggregate.items %}
              <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <h3>{{ key }}</h3>
                    </div>
                    <div class="card-body">
                      <h6>{% trans "Список магазинов" %}:</h6>
                        {% for v in val.1 %}
                            <a class="btn btn-primary btn-sm" href="{% url 'shop_page' pk=v.0.pk pk_2=val.0 %}">{{ v.0 }}, {{ v.1 }} руб</a>
                            <p> </p>
                        {% endfor %}
                    </div>
                </div>
              </div>
            {% endfor %}
        </div>
    {% endblock %}