<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <ul>{{name}}</ul>
    <ul>
        {% for advertisement in advertisements %}
        <li>{{ advertisement }}</li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/about">Описание</a></li>
        <li><a href="/categories">Категории</a></li>
        <li><a href="/regions">Регионы</a></li>
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <input name="s" placeholder="Добавить объявление..." type="text">
        <button type="submit">Добавить</button>
        <output name = "result">{{message}}</output>
    </form>
</body>
</html>

