<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регионы</title>
</head>
<body>
    <ul>РЕГИОНЫ</ul>
    <ul>
    {% for region in regions %}
        <li>{{ region }}</li>
    {% endfor %}
    </ul>
    <form method="post">
        <ul>
        {% csrf_token %}
        Добавить регион: <input type = "text" name = "region">
        <input type = "submit" value = "Отправить">
        <output name = "result">{{message}}</output>
        </ul>
    </form>
</body>
</html>