{% extends 'blog/base_blog.html' %}
{% load i18n %}

{% block title %}
    {% trans "Загрузка файла со статьями" %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <form action="{% url 'update_posts_url' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
            <div>
                {{ field.label }}
                {{ form.file }}
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">{% trans "Добавить" %}</button>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Загрузка файла с ценами</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Загрузка файла</h2>-->
<!--    <form method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Загрузить файл</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->