<html>
<ul>
    ИП "АНДРЕЙ"
</ul>
<ul>
    <li>
        Прошел все курсы на SkillBox.
    </li>
    <li>
        Продаю готовые домашние задания
    </li>
</ul>
<ul>
    Курсы SkillBox:
</ul>
<ol>
    <li>
        Python Basic (<a href="python_basic.html">ссылка на курс</a>)
    </li>
    <li>
        Python-фреймворк Django (<a href="django.html">ссылка на курс</a>)
    </li>
    <li>
        Python Advanced (<a href="python_advanced.html">ссылка на курс</a>)
    </li>
    <li>
        Язык запросов SQL (<a href="sql.html">ссылка на курс</a>)
    </li>
    <li>
        Веб-верстка «Базовый уровень» (<a href="web.html">ссылка на курс</a>)
    </li>
</ol>
</html>